<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arjunkothakota.standardizedtesttimer">

    <compatible-screens>
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="420"
            android:screenSize="small" />
        <screen
            android:screenDensity="480"
            android:screenSize="small" />
        <screen
            android:screenDensity="560"
            android:screenSize="small" />
        <screen
            android:screenDensity="640"
            android:screenSize="small" />
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xxhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="420"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
        <screen
            android:screenDensity="560"
            android:screenSize="normal" />
        <screen
            android:screenDensity="640"
            android:screenSize="normal" />
        <screen
            android:screenDensity="ldpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="420"
            android:screenSize="large" />
        <screen
            android:screenDensity="480"
            android:screenSize="large" />
        <screen
            android:screenDensity="560"
            android:screenSize="large" />
        <screen
            android:screenDensity="640"
            android:screenSize="large" />
    </compatible-screens>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logomain"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logomain"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Sat.ReadingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Act.ActReading"
            android:screenOrientation="portrait"/>
        <activity android:name=".SubjectSat.SubjectSatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PreviewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Sat.WritingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Sat.MathNoCalcActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Sat.MathCalcActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Sat.EssayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Act.ActEnglish"
            android:screenOrientation="portrait"/>
        <activity android:name=".Act.ActMath"
            android:screenOrientation="portrait"/>
        <activity android:name=".Act.ActScience"
            android:screenOrientation="portrait"/>
        <activity android:name=".Act.ActWriting"
            android:screenOrientation="portrait"/>
        <activity android:name=".SubjectSat.TestsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Home.HomePage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Act.ActBreak1"
            android:screenOrientation="portrait"/>
        <activity android:name=".Act.ActBreak2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Sat.SatBreak1"
            android:screenOrientation="portrait"/>
        <activity android:name=".Sat.SatBreak2"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>